<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex-container bg-gray-300">
        <div class="mx-auto">
            <p class="text-2xl mt-12 text-center"><%= "第#{@count}問"%></p>
            <h2 class=" text-orange-700 text-center mt-6"><%= @question.content %></h2>

            <div class="flex flex-col mt-12 px-12 space-y-4">
                <% @choices.each do |choice| %>
                    <button class="bg-blue-400 hover:bg-blue-300 text-white rounded px-4 py-2" style="box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);">
                        <form action="/answers_controller/check_answer" method="post">
                            <%= link_to choice.choice_text, count_questions_path(choice_text: choice.choice_text) %>
                        </form>
                    </button>
                <% end %>
            </div>
        </div>
    </div>
</div>



