
<div class="mx-auto">
    <h2 class="mt-4 text-center">第?問</h2>
    <p class=" text-red-600 text-center"><%= @question.content %></p>

    <div>
        <% @choices.each do |choice| %>
            <button class="bg-blue-400 hover:bg-blue-300 text-white rounded px-4 py-2">
                <form action="/answers_controller/check_answer" method="post">
                    <%= link_to choice.choice_text, check_answer_path(choice_text: choice.choice_text) %>
                </form>
            </button>
        <% end %>
    </div>
</div>



