<% flash.each do |key, value| %>
    <div class="flash <%= key %> text-2xl text-center text-blue-600">
        <%= value %>
    </div>
<% end %>

    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="flex flex-col mt-10">

            <button class="bg-orange-400 hover:bg-orange-300 text-white text-7xl px-4 py-2 mt-1" style=" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 10px">
                <%= link_to "START", control_session_path %>
            </button>
            <div>
                <p class="text-2xl text-center font-bold mt-1">↑</p>
                <p class="text-2xl text-center">CLICK or TAP</p>
            </div>
            <div class="mt-10">
                <p>問題を投稿したいひとは<%= link_to "こちら", new_question_path, class: "text-blue-600" %>をクリック</p>
            </div>
        </div>
    </div>
